node_modules/
.env
.env.*
db/*.db
tmp_trip.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
.idea/
dist/
build/
coverage/
*.log
/.pnp
/.pnp.js
/.cache
uploads/
*.sqlite
*.sqlite3
public/uploads/